<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

<div th:fragment="banner">
    <div class="header">
        <div class="header-left">
            <img th:src="@{/img/MicrosoftTeams-image.png}" alt="" style="width: 80px; height: 50px;">
        </div>
        <div class="header-right">
            <a class="header-right" href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </div>
</div>
<div th:fragment="menu" class="col-auto bg-light sidebar menu">
    <!-- Sidebar -->
    <div class="sidebar-header">
<!--            <img th:src="sec:authentication='principal.users.image'" alt="Mô tả hình ảnh" style="color: white" class="nav-link" />-->
        <div sec:authentication="principal.users.image" style="color: white" class="nav-link" hidden id="image_users">
        </div>
        <img src="" id="image_users_show" >

        <div style="color: white" class="nav-link">
            <h3 class="name-users" sec:authorize="hasRole('ROLE_ADMIN')" th:text="ADMIN"></h3>
            <h3 class="name-users" sec:authorize="hasRole('ROLE_EMPLOYEE')" th:text="EMPLOYEE"></h3>
            <h3 class="name-users" sec:authorize="hasRole('ROLE_USER')" th:text="USER"></h3>
        </div>
        <div sec:authentication="principal.users.email" style="color: white" class="nav-link"></div>
 </div>
   <ul class="list-unstyled sidebar-menu">
        <!-- Home -->
        <li><a th:href="@{/home}">Home</a></li>

			<!-- Employee Management -->
			<li>
				<a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" href="#employeeSubmenu"
					data-bs-toggle="collapse" class="dropdown-toggle" id="employeeSubmenuTitle">Employee
					management</a>
				<ul class="list-unstyled collapse submenu" id="employeeSubmenu">
					<li><a th:href="@{/employee-list}" id="employeeSubmenuList">Employee List</a></li>
					<li><a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/employee-create}" id="employeeSubmenuCreate">Create
							Employee</a></li>
				</ul>
			</li>

			<li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" href="#customerSubmenu"
					data-bs-toggle="collapse" class="dropdown-toggle" id="customerSubmenuTitle">Customer
					management</a>
				<ul class="list-unstyled collapse submenu" id="customerSubmenu">
					<li><a th:href="@{/customer-list}" id="customerSubmenuList">Customer List</a></li>
					<li><a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/customer-create}"
							id="customerSubmenuCreate">Create Customer</a></li>
				</ul>
			</li>
			<li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" href="#vaccineSubmenu"
					data-bs-toggle="collapse" class="dropdown-toggle" id="vaccineSubmenuTitle">Vaccine Type
					management</a>
				<ul class="list-unstyled collapse submenu" id="vaccineSubmenu">
					<li><a th:href="@{/vaccine-type-list}" id="vaccineSubmenuList">Vaccine Type List</a></li>
					<li><a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/vaccine-type-create}"
							id="vaccineSubmenuCreate">Create Vaccine
							Type</a></li>
				</ul>
			</li>
			<li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')"
					href="#vaccineManagementSubmenu" data-bs-toggle="collapse" class="dropdown-toggle"
					id="vaccineManagementSubmenuTitle">Vaccine
					management</a>
				<ul class="list-unstyled collapse submenu" id="vaccineManagementSubmenu">
					<li><a th:href="@{/vaccine-list}" id="vaccineManagementSubmenuList">Vaccine List</a></li>
					<li><a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/vaccine-create}"
							id="vaccineManagementSubmenuCreate">Create Vaccine</a></li>
				</ul>
			</li>
			<li>
				<a href="#injectionSubmenu" data-bs-toggle="collapse" class="dropdown-toggle"
					id="injectionSubmenuTitle">Injection
					Schedule</a>
				<ul class="list-unstyled collapse submenu" id="injectionSubmenu">
					<li><a th:href="@{/schedule-list}" id="injectionSubmenuList">Injection Schedule List</a></li>
					<li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" th:href="@{/schedule-create}"
							id="injectionSubmenuCreate">Create
							Injection Schedule</a></li>
				</ul>
			</li>
			<li>
				<a href="#injectionResultSubmenu" data-bs-toggle="collapse" class="dropdown-toggle"
					id="injectionResultSubmenuTitle">Injection Result</a>
				<ul class="list-unstyled collapse submenu" id="injectionResultSubmenu">
					<li><a th:href="@{/vaccineResult-list}" id="injectionResultSubmenuList">Injection Result List</a>
					</li>
					<li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')"
							th:href="@{/vaccineResult-create}" id="injectionResultSubmenuCreate">Create Injection
							Result</a></li>
				</ul>
			</li>
			<li>
				<a href="#newsSubmenu" data-bs-toggle="collapse" class="dropdown-toggle" id="newsSubmenuTitle">News</a>
				<ul class="list-unstyled collapse submenu" id="newsSubmenu">
					<li><a th:href="@{/news-list}" id="newsSubmenuList">News List</a></li>
					<li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" th:href="@{/news-create}"
							id="newsSubmenuCreate">Create
							News</a></li>
				</ul>
			</li>
			</li>
			<li>
				<a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" href="#reportSubmenu"
					data-bs-toggle="collapse" class="dropdown-toggle" id="reportSubmenuTitle">Report</a>
				<ul class="list-unstyled collapse submenu" id="reportSubmenu">
					<li><a th:href="@{/VaccineResult-Report}" id="reportSubmenuInjection">Report Injection Result</a>
					</li>
					<li><a th:href="@{/report-customer}" id="reportSubmenuCustomer">Report Customer</a></li>
					<li><a th:href="@{/report-vaccine}" id="reportSubmenuVaccine">Report Vaccine</a></li>
				</ul>
			</li>
		</ul>
	</div>


</body>


</html>