<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
<div th:fragment="banner">
    <div class="header">
        <div class="header-left">
            <img th:src="@{/img/MicrosoftTeams-image.png}" alt="" style="width: 80px; height: 50px;">
        </div>
        <div class="header-right">
            <a class="header-right" href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </div>
</div>
<div th:fragment="menu" class="col-auto bg-light sidebar menu">
    <!-- Sidebar -->
    <div class="sidebar-header">
        <div style="color: white" class="nav-link">
            <div sec:authorize="hasRole('ROLE_ADMIN')" th:text="ADMIN"></div>
            <div sec:authorize="hasRole('ROLE_EMPLOYEE')" th:text="EMPLOYEE"></div>
            <div sec:authorize="hasRole('ROLE_USER')" th:text="USER"></div>
        </div>
        <div sec:authentication="principal.users.email" style="color: white" class="nav-link"></div>

    </div>
    <ul class="list-unstyled sidebar-menu">
        <!-- Home -->
        <li><a th:href="@{/home}">Home</a></li>

        <!-- Employee Management -->
        <li>
            <a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" href="#employeeSubmenu"
               data-bs-toggle="collapse" class="dropdown-toggle">Employee
                management</a>
            <ul class="list-unstyled collapse submenu" id="employeeSubmenu">
                <li><a href="#">Employee List</a></li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" href="#">Create Employee</a></li>
            </ul>
        </li>

        <li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" href="#customerSubmenu"
               data-bs-toggle="collapse" class="dropdown-toggle">Customer
            management</a>
            <ul class="list-unstyled collapse submenu" id="customerSubmenu">
                <li><a th:href="@{/customer-list}">Customer List</a></li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/customer-create}">Create Customer</a></li>
            </ul>
        </li>
        <li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" href="#vaccineSubmenu"
               data-bs-toggle="collapse" class="dropdown-toggle">Vaccine Type
            management</a>
            <ul class="list-unstyled collapse submenu" id="vaccineSubmenu">
                <li><a th:href="@{/vaccine-type-list}">Vaccine Type List</a></li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/vaccine-type-create}">Create Vaccine
                    Type</a></li>
            </ul>
        </li>
        <li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')"
               href="#vaccineManagementSubmenu" data-bs-toggle="collapse"
               class="dropdown-toggle">Vaccine
            management</a>
            <ul class="list-unstyled collapse submenu" id="vaccineManagementSubmenu">
                <li><a th:href="@{/vaccine-list}">Vaccine Type List</a></li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/vaccine-create}">Create Vaccine</a></li>
            </ul>
        </li>
        <li>
            <a href="#injectionSubmenu" data-bs-toggle="collapse" class="dropdown-toggle">Injection
                Schedule</a>
            <ul class="list-unstyled collapse submenu" id="injectionSubmenu">
                <li><a href="#">Injection Schedule List</a></li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" href="#">Create
                    Injection Schedule</a></li>
            </ul>
        </li>
        <li>
            <a href="#injectionResultSubmenu" data-bs-toggle="collapse"
               class="dropdown-toggle">Injection Result</a>
            <ul class="list-unstyled collapse submenu" id="injectionResultSubmenu">
                <li><a th:href="@{/vaccineResult-list}">Injection Result List</a></li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')"
                       th:href="@{/vaccineResult-create}">Create Injection Result</a></li>
            </ul>
        </li>
        <li>
            <a href="#newsSubmenu" data-bs-toggle="collapse" class="dropdown-toggle">News</a>
            <ul class="list-unstyled collapse submenu" id="newsSubmenu">
                <li><a href="#">News List</a></li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" href="#">Create
                    News</a></li>
            </ul>
        </li>
        </li>
        <li>
            <a sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EMPLOYEE')" href="#reportSubmenu"
               data-bs-toggle="collapse" class="dropdown-toggle">Report</a>
            <ul class="list-unstyled collapse submenu" id="reportSubmenu">
                <li><a th:href="@{/VaccineResult-Report}">Report Injection Result</a></li>
                <li><a th:href="@{/report-customer}">Report Customer</a></li>
                <li><a th:href="@{/report-vaccine}">Report Vaccine</a></li>
            </ul>
        </li>
    </ul>
</div>
</body>

</html>