<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template::areas(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="col">
    <div class="form-header text-center">
        <h3>CREATE VACCINE </h3>
    </div>
    <div class="form-section">
        <form id="form-save" th:object="${vaccine}" th:action="@{/vaccine-create}" method="post">
            <!-- Form row 1 -->
            <div class="row mb-3">
                <div class="col-8">
                    <label for="vaccineId" class="form-label required">Vaccine Id
                        <span class="cspan">(*):</span></label>
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-fill-drip" style="margin-right: 10px;"></i>
                        <input type="text" id="vaccineId" class="form-control" placeholder="" required th:field="${vaccine.id}">
                    </div>
                    <p th:if="${#fields.hasErrors('id')}" class="red" th:errors="*{id}"></p>


                </div>

                <div class="col-4">
                    <label for="Active" class="form-label">Active<span class="cspan">(*):</span></label>
                    <div>
                        <i class="fa-solid fa-fill-drip" style="margin-right: 10px;"></i>
                        <input type="checkbox" id="Active" name="status"
                               style="transform: scale(1.5);" th:field="${vaccine.status}" disabled>
                    </div>
                </div>
            </div>

            <!-- Form row 2 -->
            <div class="row mb-3">
                <div class="col">
                    <label for="vaccineName" class="form-label required">Vaccine name
                        <span class="cspan">(*):</span></label>

                      <div>
                          <input type="text" id="vaccineName" class="form-control" placeholder="" required th:field="${vaccine.vaccineName}">
                      </div>

                </div>
                <div class="col">
                    <label for="vaccineType" class="form-label required">Vaccine Type
                        <span class="cspan">(*):</span></label>

                     <div>
                         <select id="vaccineType" class="form-control" th:field="${vaccine.vaccineType}">
                             <option th:each="vt : ${vaccinetype}" th:value="${vt.id}" th:text="${vt.vaccineTypeName}"></option>

                         </select>
                     </div>

                </div>
                <div class="col">
                    <label for="numberOfInjection" class="form-label required">Number of injection</label>
                    <div>
                        <input type="text" id="numberOfInjection" class="form-control" placeholder="" required th:field="${vaccine.numberOfInjection}">
                    </div>
                </div>
            </div>

            <!-- Form row 3 -->
            <div class="row mb-3">
                <div class="col">
                    <label for="usage" class="form-label required">Usage:</label>
                    <div>
                        <textarea id="usage" name="usage" rows="4" cols="40" th:field="${vaccine.usage}"></textarea>
                    </div>
                </div>
                <div class="col">
                    <label for="indication" class="form-label required">Indication:</label>
                    <div>
                        <textarea id="indication" name="indication" rows="4" cols="40" th:field="${vaccine.indication}"></textarea>
                    </div>
                </div>
                <div class="col">
                    <label for="contraindication" class="form-label required">Contraindication:</label>
                    <div>
                        <textarea id="contraindication" name="contraindication" rows="4" cols="40" th:field="${vaccine.contraindication}"></textarea>
                    </div>
                </div>
            </div>


            <!-- Form row 4 -->
            <div class="row mb-3">
                <div class="col">
                    <label for="timeSNextInjection" class="form-label required">Time of beginning next injection</label>

                    <div>
                        <input type="date" id="timeSNextInjection" class="form-control" placeholder="" required th:field="${vaccine.timeBeginNextInjection}">
                    </div>

                </div>
                <div class="col">
                    <label for="timeENextInjection" class="form-label required">Time of ending next injection</label>
                    <div>
                        <input type="date" id="timeENextInjection" class="form-control" placeholder="" required th:field="${vaccine.timeEndNextInjection}">
                    </div>
                </div>
                <div class="col">
                    <label for="origin" class="form-label required">Origin</label>
                    <div>
                        <input type="text" id="origin" class="form-control" placeholder="" required th:field="${vaccine.origin}">
                    </div>
                </div>
            </div>
            <small id="timeError" class="red"></small>

            <!-- Buttons -->
            <div class="row">
                <div class="col-12">
                    <button type="submit" id="savevaccine" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <button type="button" class="btn btn-warning pd0">
                        <a class="a-link" th:href="@{/vaccine-list}">Cancel</a>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script th:src="@{/js/vaccinemanagement.js}"></script>

</main>
</body>
</html>