<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template::areas(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Injection Result List</title>
</head>
<body>
<main class="col">
        <div class="form-header text-center header_main">
            <h3>INJECTION RESULT LIST</h3>
        </div>
        <div class="header_conten">
            <div class="row">
                <div class="col">
                    <div class="d-flex align-items-center">
                        <label for="entriesDropdown" class="me-2">Show</label>
                        <select class="form-select" id="entriesDropdown" style="width:auto">
                            <option value=""></option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <span class="ms-2">entries</span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3 float-end d-flex align-items-center">
                        <label for="searchTable" class="form-label">Search:</label>
                        <input type="search" id="searchTable" class="form-control border-0" placeholder="">
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="table-primary text-center">
                <tr>
                    <th scope="col" class="col-1"></th>
                    <th scope="col" class="col-3">Customer</th>
                    <th scope="col" class="col-2">Vaccine Name</th>
                    <th scope="col" class="col-3">Prevention</th>
                    <th scope="col" class="col-1">Injection</th>
                    <th scope="col" class="col-1">Date of inject</th>
                    <th scope="col" class="col-1">Next inject date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${injectionResultListDTOs}" th:object="${i}" >
                    <th scope="row" class="text-center"><input type="checkbox" style="transform: scale(1.2)" th:value="${i.id}"></th>
                    <td th:text="${i.customer}"></td>
                    <td th:text="${i.vaccineName}"></td>
                    <td th:text="${i.prevention}"></td>
                    <td th:text="${i.numberOfInjection}"></td>
                    <td th:text="${i.injectionDate}"></td>
                    <td th:text="${i.nextInjectionDate}"></td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div><p class="mt-4">Showing 1 to 5 of 12 entries</p></div>
                <div>
                    <nav aria-label="Page navigation example" class="mt-4">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
    
            <div class="d-flex">
               <a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/vaccineResult-create}"><button type="button" class="btn btn-success">Create Injection Result</button></a>
                <button sec:authorize="hasAuthority('ROLE_ADMIN')" type="button" class="btn btn-warning" id="UpdateResult">Update Injection Result</button>
                <button sec:authorize="hasAuthority('ROLE_ADMIN')" type="button" class="btn btn-danger" id="DeleteResult">Delete Injection Result</button>
            </div>
        </div>
     <script th:src="@{js/ResultList/List.js}"></script>
    </main>
</body>
</html>